<!-- Citation Modal -->
<div id="citation-modal-{{ include.id }}" class="citation-modal" style="display: none;">
  <div class="citation-modal-content">
    <span class="citation-close" onclick="closeCitationModal('{{ include.id }}')">&times;</span>
    <h2>Cite this publication</h2>
    
    <div class="citation-tabs">
      <button class="citation-tab-button active" onclick="showCitationFormat('{{ include.id }}', 'bibtex')">BibTeX</button>
      <button class="citation-tab-button" onclick="showCitationFormat('{{ include.id }}', 'ris')">RIS</button>
      <button class="citation-tab-button" onclick="showCitationFormat('{{ include.id }}', 'endnote')">EndNote</button>
    </div>
    
    <div id="citation-bibtex-{{ include.id }}" class="citation-format-content active">
      <pre><code>{{ include.bibtex }}</code></pre>
      <button class="copy-button" onclick="copyCitation('{{ include.id }}', 'bibtex')">Copy BibTeX</button>
    </div>
    
    <div id="citation-ris-{{ include.id }}" class="citation-format-content" style="display: none;">
      <pre><code>{{ include.ris }}</code></pre>
      <button class="copy-button" onclick="copyCitation('{{ include.id }}', 'ris')">Copy RIS</button>
    </div>
    
    <div id="citation-endnote-{{ include.id }}" class="citation-format-content" style="display: none;">
      <pre><code>{{ include.endnote }}</code></pre>
      <button class="copy-button" onclick="copyCitation('{{ include.id }}', 'endnote')">Copy EndNote</button>
    </div>
  </div>
</div>